<table class="table table-hover">
  <tbody>
  <% x.each do |y| %>
      <tr>
        <td><%= y.name %></td>
        <td><%= y.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>