<table class="table table-hover">
  <tbody>
  <% x.each do |y| %>
      <tr>

      	<% if y.instance_of? User %>
      		<td><%= y.username %></td>        	
      		<td><%= y.ratings.count %></td>
        <% else %>
        	<td><%= y.name %></td>
            <td><%= y.average_rating %></td>  	
        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>