
<table class="table table-hover">
  <tbody>
	<div class="row">
  		<div class="col-md-4"><%= render 'list', x: Beer.top(4) %></div>
  		<div class="col-md-4">.col-md-4</div>
  		<div class="col-md-4">.col-md-4</div>
	</div>
  </tbody>
</table>