	<h1>Bestest of the best</h1>
	<p> Number of ratings: <%= @ratings.count %> </p>


	<%= render 'top', breweries: @active_breweries %>

  	<%= link_to 'New Rating', '/ratings/new' if not current_user.nil? %>

<br>
